<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Детали контакта @ViewBag.TitleLastName @ViewBag.TitleFirstName</title>
    @Styles.Render("~/App_Themes/AddressBook/css")
</head>
<body>
    @RenderBody()
</body>
</html>
