@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Views.Error;
}

<hgroup class="title">
    <h1 class="error">@Resources.Views.Error</h1>
    <h2 class="error">@Resources.Views.ErrorQueryProcessing</h2>
</hgroup>
