@model IEnumerable<AddressBook.Models.Contacts>

@{
    ViewBag.Title = "Главная страница";
}

<div class="ChangeDBInfo">@TempData["ChangeDBInfo"]</div>

<h2>Список контактов</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new { @class = "linkButton" })
</p>

<div id="ContactList">
    @Html.Partial("ContactList", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ajax")
}