@model IEnumerable<AddressBook.Models.Contacts>

@{
    ViewBag.Title = "Главная страница";
}

<h2>Список контактов</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <tr>
        <th>ФИО
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.LastName + " " + item.FirstName + " " + item.MiddleName, "Details", new { id = item.ContactsId }, new { @class = "Details" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContactsId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ContactsId })
            </td>
        </tr>
    }

</table>
